<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net472" />
  <package id="ControlzEx" version="6.0.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="MahApps.Metro" version="3.0.0-alpha0457" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net472" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="NLog" version="5.2.6" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net461" />
  <package id="NLog.Schema" version="5.2.6" targetFramework="net472" />
  <package id="SqlSugar" version="5.1.4.122" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net472" />
</packages>